body {
  background-color: #370617;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
}

.card {
  display: flex;
  height: 160px;
  width: 468px;
  max-width: 100%;
  max-height: 100%;
  margin: 20px;
  padding: 9px;
  background-color: #f48c06;
  border-radius: 8px;
  border: none;
}

.card__box {
  background-color: #9d0208;
  height: 58px;
  width: 58px;
  padding: 10px;
  border-radius: 4px;
  margin: 10px;
}

.box--tall {
  padding: 31px 10px;
}

/* Top left card styling */
.card--one {
  justify-content: flex-start;
  align-items: flex-end;
}

/* Top right card styling */
.card--two {
  justify-content: center;
  align-items: center;
}

/* Middle left card styling */
.card--three {
  justify-content: flex-end;
  align-items: center;
}

/* Middle right card styling */
.card--four {
  justify-content: space-between;
}

.card--four > .card--bottom {
  align-self: flex-end;
}

/* Bottom left card styling */
.card--five {
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 12px;
  justify-content: space-evenly;
  align-items: center;
}

.card--five > .box--small {
  height: 44px;
}

/* Bottom right card styling */
.card--six {
  justify-content: center;
  align-items: center;
}

.card--six > .box--wide {
  flex-grow: 0.5;
}

.card--two > .card__box,
.card--three > .card__box,
.card--four > .card__box,
.card--six > .card__box {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
