body {
  background-color: #370617;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
}

.card {
  display: flex;
  height: 160px;
  width: 468px;
  max-width: 100%;
  max-height: 100%;
  margin: 20px;
  padding: 9px;
  background-color: #f48c06;
  border-radius: 8px;
  border: none;
}

.card__box {
  background-color: #9d0208;
  height: 78px;
  width: 78px;
  border-radius: 4px;
  margin: 10px;
}

.card--one {
  justify-content: flex-start;
  align-items: flex-end;
}

.card--two {
  justify-content: center;
  align-items: center;
}

.card--two > .card__box {
  height: 120px;
}
